*{
    margin: 0;
    padding: 0;
}
body{
    color:aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button{
    width: 160px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 4px 0px;
    border-style: none;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(223, 233, 209, 0.588);

}
.main-bg{
    background:url("./images/blackjackbg.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-cnt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#main-heading{
    color: rgba(255, 255, 255, 0.768);
    font-size: 70px;
    margin-bottom: 40px;
}
#sum{
    margin: 30px 0px 0px 0px
}
#cards-el{
    margin:20px 0px
}

